openapi: 3.0.0
info:
  title: Fédération de Collectivités Agricoles - API
  version: 2.0.0
  description: |
    Spécification OAS pour la gestion des collectivités agricoles.
    Inclut les nouvelles conditions d'admission (B-2) et les statistiques fédération (H).

servers:
  - url: https://api.federation-agricole.mg/v1

paths:
  /collectivites:
    post:
      summary: A - Ouverture d'une nouvelle collectivité
      operationId: createCollectivite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nom
                - specialite
                - ville
                - dateCreation
                - autorisationFederation
                - membresFondateurs
              properties:
                nom:
                  type: string
                specialite:
                  type: string
                ville:
                  type: string
                dateCreation:
                  type: string
                  format: date
                autorisationFederation:
                  type: string
                membresFondateurs:
                  type: array
                  minItems: 10
                  items:
                    type: object
                    required:
                      - membreId
                      - poste
                    properties:
                      membreId:
                        type: integer
                      poste:
                        type: string
                        enum: [ president, adjoint, tresorier, secretaire, confirme, junior ]
      responses:
        '201':
          description: Collectivité créée

  /membres/adhesion:
    post:
      summary: B-2 - Admission d'un nouveau membre (conditions mises à jour)
      operationId: adhererCollectivite
      description: |
        Nouvelles conditions :
        - Parrainage par au moins 2 membres confirmés.
        - Règle : #parrains de la collectivité cible >= #parrains des autres collectivités.
        - Fournir la relation avec chaque parrain.
        - Payer 50 000 Ar (frais adhésion) + la totalité des cotisations annuelles obligatoires de la collectivité.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - collectiviteId
                - parrains
                - nom
                - prenom
                - dateNaissance
                - genre
                - adresse
                - metier
                - telephone
                - email
                - modePaiementAdhesion
                - referencePaiementAdhesion
                - modePaiementCotisationAnnuelle
                - referencePaiementCotisationAnnuelle
              properties:
                collectiviteId:
                  type: integer
                parrains:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    required:
                      - membreId
                      - relation
                    properties:
                      membreId:
                        type: integer
                      relation:
                        type: string
                        enum: [famille, amis, collegues, autre]
                nom:
                  type: string
                prenom:
                  type: string
                dateNaissance:
                  type: string
                  format: date
                genre:
                  type: string
                  enum: [feminin, masculin]
                adresse:
                  type: string
                metier:
                  type: string
                telephone:
                  type: string
                email:
                  type: string
                  format: email
                modePaiementAdhesion:
                  type: string
                  enum: [mobile_money, virement_bancaire]
                referencePaiementAdhesion:
                  type: string
                modePaiementCotisationAnnuelle:
                  type: string
                  enum: [mobile_money, virement_bancaire]
                referencePaiementCotisationAnnuelle:
                  type: string
      responses:
        '201':
          description: Membre admis

  /cotisations:
    post:
      summary: C - Enregistrement d'une cotisation
      operationId: enregistrerCotisation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - collectiviteId
                - membreId
                - montant
                - typeCotisation
                - dateEncaissement
                - modePaiement
              properties:
                collectiviteId:
                  type: integer
                membreId:
                  type: integer
                montant:
                  type: number
                typeCotisation:
                  type: string
                  enum: [ mensuelle, annuelle, ponctuelle ]
                dateEncaissement:
                  type: string
                  format: date
                modePaiement:
                  type: string
                  enum: [ espece, virement_bancaire, mobile_money ]
                referencePaiement:
                  type: string
      responses:
        '201':
          description: Cotisation enregistrée

  /comptes:
    post:
      summary: D1 - Créer un compte
      operationId: creerCompte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entiteType
                - typeCompte
                - titulaire
              properties:
                entiteType:
                  type: string
                  enum: [collectivite, federation]
                entiteId:
                  type: integer
                typeCompte:
                  type: string
                  enum: [caisse, bancaire, mobile_money]
                titulaire:
                  type: string
                soldeInitial:
                  type: number
                  default: 0
                details:
                  type: object
                  oneOf:
                    - properties:
                        banque:
                          type: string
                          enum: [BRED, MCB, BMOI, BOA, BGFI, AFG, ACCES BANQUE, BAOBAB, SIPEM]
                        numeroCompte:
                          type: string
                          pattern: '^\d{23}$'
                      required: [banque, numeroCompte]
                    - properties:
                        serviceMobile:
                          type: string
                          enum: [Orange Money, Mvola, Airtel Money]
                        numeroTelephone:
                          type: string
                      required: [serviceMobile, numeroTelephone]
      responses:
        '201':
          description: Compte créé